.donkerblauw {
  color: #0C0E43;
}

.zwart {
  color: #000B00;
}

@media (max-width: 768px) {
    .navbar-brand img {
        width: 75px;
        height: 50px;
    }
    
    #home h1, #projects h1 {
        font-size: 1.75rem;
    }
    
    #home p {
        font-size: 1rem !important;
    }
}