body {
  box-sizing: border-box;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

.blauw {
  color: #0026FF;
}

.zwart {
  color: #000B00;
}

.project-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-detail-img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.cool-anim img {
  transition: transform 0.3s ease;
}

.cool-anim img:hover {
  transform: scale(1.1);
}
